@import"https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap";
*,:after,:before {
    box-sizing: border-box
}

* {
    font: inherit;
    margin: 0;
    padding: 0
}

img,picture,svg,video {
    display: block;
    max-width: 100%
}

body {
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    color:$primary-color;
    font-family: $barlow,$san-serif
}

ul,ol{
    list-style: none;
}

a {
    color: $primary-color;
    font-family: $barlow,$san-serif
}

a {
    text-decoration: none;
    transition: all .3s
}

a:hover {
    color: $primary-color;
}

p {
    font-weight: 500;
    margin-bottom: 0
}

p+p {
    margin-top: 20px
}