button {
    padding: 5px 22px 6px;
    border-radius: 22px;
    border: none;
    background: $button-color;
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}